# Objective: To understand and perform Measurement system analysis.

## Exercise :
* What kind of data is shown in Table?
Which method would you use for measurement system analysis (MSA) to verify the repeatability
and reproducibility of QA results? Conduct the appropriate MSA.

In [2]:
import pandas as pd
import numpy as np

In [3]:
msa_df = pd.read_csv("https://raw.githubusercontent.com/raviteja-padala/Six_Sigma/main/Bank_Call_Center_project/Six%20sigma%20-%20Bank%20call%20MSA%20dataset.csv")

msa_df.style.hide(axis="index")

## What kind of data is shown in Table 2?
* The data provided above is continuous data.

* Continuous data is a type of data that can take on
any value within a given range. In this case, the data is the measurements of the voice samples,
which can take on any value within a given range.
Some examples of continuous data:Temperature,Weight,Height,Time,Distance,Volume,Speed.

* Attribute data, on the other hand, is a type of data that can only take on a limited number of
values. For example, the data could be the gender of the appraisers, which can only take on two
values: male or female.
More examples include True or False, PAss or Fail, colors etc

## Which method would you use for measurement system analysis (MSA) to verify the repeatability and reproducibility of QA results?

* The most appropriate method for MSA to verify the repeatability and reproducibility of QA
results in this case is the ANOVA method.

* In the case of the data provided, we only have one appraiser, so we would use a one-way
NOVA to conduct the MSA. A one-way ANOVA is appropriate when you have one
independent variable with multiple levels (groups) and you want to compare the means of the
ependent variable across those groups. In this scenario, the independent variable (appraiser)
has only one level, while the dependent variable is the voice sample.
herefore, a one-way ANOVA is suitable to compare the voice samples of one appraiser and
wo operators. It will assess whether there are statistically significant differences in the voice
amples among the three groups (appraiser and two operators).

In [4]:
# Importing library
from scipy.stats import f_oneway

# Conduct the one-way ANOVA
f_oneway(msa_df['Master Appraiser'],	msa_df['John Trial 1'],	msa_df['John Trial 2'],	msa_df['Miranda Trial 1'],	msa_df['Miranda Trial 2'])

F_onewayResult(statistic=0.3509343763581051, pvalue=0.8427961919278522)

### Interpretation:
* Since the P value (0.842) is greater than the significance level (0.05), so we "Cannot Reject the Null
Hypothesis (Accept the Null Hypothesis)" that the means are equivalent.
*There is no significant variation between measurements made by the appraiser. Therefore, the
measurement system is considered to be repeatable and reproducible.

### Conclusion:
* We have performed Measurement System Analysis on given data and provided the interpretation. Thank you for reading all the way to the end.